<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
        
    <a class="navbar-brand" routerLink= "/menu/home" routerLinkActive="active" >
       
        <img  src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/lole.jpg?alt=media&token=185ffca2-e1ca-4a44-901f-1a69a11fc31f" alt="Logo" style="width: 120px;" > 
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarNavDropdown" class="navbar-collapse collapse">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div *ngIf="auth.user | async as user">
                            <span class="navbar-text">Bienvenido {{ user.nombre }} {{user.apellido}}</span>
                    </div>
                    
                </li>
            </ul>

            <ul class="navbar-nav">
              
              <li class="col-sm-1"></li>

              <li class="nav-item dropdown " >
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown">Opciones</a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" routerLink = "/menu/cambio" 
                                    routerLinkActive= "active">Cambio de Clave</a>
                          <!-- <a class="dropdown-item" routerLink = "/menu/compras" 
                                    routerLinkActive= "active">Compras</a> -->
                          <a class="dropdown-item" routerLink = "/menu/carrito" 
                                    routerLinkActive= "active">Orden</a>
                          <a class="dropdown-item" routerLink= "/login" routerLinkActive="active" (click)="auth.signOut()">Salir</a>
                      </div>
                </li>
            </ul>

            <div class="col-sm-1"></div>
        </div>

    </nav>