

<div class="text-center"><button type="button" class="btn btn-success btn-circle btn-xl "data-toggle="modal" data-target="#miModal"><i class="fa fa-plus"></i>
</button>
</div>


<div class="modal fade" id="miModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar Nuevo Plato</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <h6>Indique que datos del Plato</h6>
            
            <form>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Imagen</label>
                </div>
                
                <div class="form-group">
                  <br>
                    <label>Nombre:</label>
                    <input type="text" class="form-control" placeholder="Ingrese Nombre" name="comida" required="true">
                </div>
                <div class="form-group">
                    <label for="pwd">Precio:</label>
                    <input type="number" class="form-control" placeholder="Ingrese precio" name="price" required>
                
                </div>
                
            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" >Agregar</button>
          <div class="col-sm-7"></div>
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
<br>
<br>

<div class="row">
    <div class="col-sm-4 " *ngFor="let comida of arreglo">
        <div class="card shadow" style="width:250px; height: 400px">
            <img class="card-img-top" src="assets/{{comida.imagen}}.png" alt="Card image" >
            <hr>
            <div class="card-body text-center">
                <h4 class="card-title">{{comida.nombre}}</h4>
                <div class="row">
                    <div class="col sm-4 text-center">
                            <app-modificar></app-modificar> 
                    </div>
                    <div class="col sm-4 text-center"><app-eliminar></app-eliminar>
                    </div>
                </div>
                
                
                
               
            </div>
           
        </div>   
        <br>     
    </div>   
    <br> 
</div>