<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width:250px; height: 400px">
            <img class="card-img-top" src="assets/hamburguesa.png" alt="Card image" >
            <hr>
            <div class="card-body">
                <h4 class="card-title">Hamburguesa</h4>
                <div class="text-center"><app-modificar></app-modificar> </div>
                <br>
                <div class="text-center"><app-eliminar></app-eliminar></div>
                
            </div>
        </div>
        <br>
        <div class="card" style="width:250px; height: 400px">
            <img class="card-img-top" src="assets/pizza.jpg" alt="Card image">
            <hr>
                <div class="card-body">
                    <h4 class="card-title">Pizza</h4><div class="text-center"><app-modificar></app-modificar> </div>
                
                    <br>
                    <div class="text-center"><app-eliminar></app-eliminar></div>
                </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card" style="width:250px; height: 400px">
            <img class="card-img-top" src="assets/papas.jpg" alt="Card image" >
            <hr>
            <div class="card-body">
                <h4 class="card-title">Papas</h4>
                
                <div class="text-center"><app-modificar></app-modificar> </div>
                
                <br>
                <div class="text-center"><app-eliminar></app-eliminar></div>
            </div>
        </div>
        <br>
        <div class="card" style="width:250px; height: 400px">
            <img class="card-img-top" src="assets/tequenos.jpg" alt="Card image" >
            <hr>
            <div class="card-body">
                <h4 class="card-title">Tequeños</h4>
                
                <div class="text-center"><app-modificar></app-modificar> </div>
                
                <br>
                <div class="text-center"><app-eliminar></app-eliminar></div>
            </div>
        </div>
    </div>
    
</div>