<div class="text-center">
    <button type="button" class="btn btn-success btn-circle btn-xl " data-toggle="modal" data-target="#miModal">
        <i class="fa fa-plus"></i>
    </button>
</div>

 <!-- MODAL AGREGAR COMIDA -->
<div class="modal fade" id="miModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar Nueva Comida</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <h6>Indique que datos del Plato</h6>
            
            <form (ngSubmit)="onSubmit()">
                <!-- <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Imagen</label>
                </div> -->

                <div class="form-group">
                        <br>
                          <label>Imagen:</label>
                          <input type="text" class="form-control" placeholder="Ingrese Imagen" [(ngModel)]="comida.photoUrl" name="imagen" required="true">
                      </div>
                
                <div class="form-group">
                
                    <label>Nombre:</label>
                    <input type="text" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="comida.nombre" name="nombre" required="true">
                </div>
                <div class="form-group">
                    <label for="pwd">Precio:</label>
                    <input type="number" class="form-control" placeholder="Ingrese precio" [(ngModel)]="comida.precio" name="precio" required>
                </div>

                <div class="modal-footer">
                        <input type="submit" class="btn btn-success">
                        <div class="col-sm-7"></div>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                      </div>
                
            </form>
        </div>

      </div>
    </div>
  </div>
<br>
<br>
<!-- Tienda -->
<div class="row">
    <div class="col-sm-4 " *ngFor="let comida of comidas">
        <div class="card shadow" style="width:90%; height: 95%;">
            <img class="card-img-top" src={{comida.photoUrl}} alt="Card image" >
            <hr>
            <div class="card-body text-center">
                <h4 class="card-title">{{comida.nombre}}</h4>
                <h6>Precio: {{comida.precio}}</h6>
                <div *ngIf="comida.disponibilidad==true; else nodisponible">
                    <span class="badge badge-success">Disponible</span>
                </div>
                <ng-template #nodisponible>
                    <span class="badge badge-danger">No Disponible</span>
                    <br>
                </ng-template>
                <br>
                
                <div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                            <div class="col sm-4 text-center">
                                    <div >
                                        <button type="button" class="btn btn-info btn-circle btn-lg">
                                            <i class="fa fa-wrench" (click)="editComida($event, comida)"></i>
                                        </button>
                                        
                                    </div>
                                </div> 
                                <div class="col sm-4 text-center">
                                        <div class="text-center">
                                            <button type="button" class="btn btn-danger btn-circle btn-lg">
                                                <i class="fa fa-times" (click)="deleteComida($event, comida)"></i>
                                            </button>
                                        </div>
                                </div>
                        <div class="col-sm-2"></div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-9">
                                <div *ngIf="editState && comidaToEdit.id === comida.id">
                                        <form (ngSubmit)="updateComida(comida)">
                                            <div class="row">
                                                <div class="text-center">
                                                    <div class="form-group text-center">
                                                        <br>
                                                        <label for="" style="text-align: center;">Nombre:</label>
                                                        <input type="text" class="form-control" name="nombre" placeholder="Edit Title" [(ngModel)]="comida.nombre">
                                                    </div>
                                                    <div class="form-group">
                                                            <label for="" class="text-center">Precio:</label>
                                                        <input type="number" class="form-control" name="precio" placeholder="Editar precio" [(ngModel)]="comida.precio">
                                                    </div>
                                                        <input type="submit" class="btn btn-success" value="Modificar">
                                                        <br><br>
                                                        <div>
                                                                <button class="btn btn-danger" (click)="disableComida(comida)">Deshabilitar</button>
                                                                <br>
                                                                <button class="btn btn-success" (click)="enableComida(comida)">Habilitar</button>
                                                        </div>
                                                        
                                                </div>                                      
                                            </div>
                                        </form>
                                        
                                    </div>
                        </div>
                        
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div> 
        <br><br><br>
    </div>  
</div>
<br><br>

<ng-template>
        
</ng-template>

