<div class="container mt-3">
<h2>Compras</h2>
<table class="table table-bordered shadow">
    <thead>
        <tr class="text-center">
          <th>Compras</th>
          <th>Fecha</th>
          <th>Items</th>
          <th>Pago</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td></td>
          <td>9-11-2018</td>
          <td>
            <ul>
              <li style="list-style-type: none;">Tequeño</li>
              <li style="list-style-type: none;">Hamburguesa</li>
            </ul>
          </td>
          <td>X Bs.S</td>
        </tr>
        
        <tr class="text-center">
            <td></td>
            <td>20-08-18</td>
            <td>
              <ul>
                <li style="list-style-type: none;">Tequeño</li>
                
              </ul>
            </td>
            <td>X Bs.S</td>
          </tr>

      </tbody>
</table>

</div>