<div class="container" >  
    <div class="bg">
        <br>
            <div class="card col-sm-6 mx-auto shadow-lg">
                    <div class="card-body" >
                        <div class="col-sm-6 mx-auto">
                            <img class="card-img-top mx-auto" src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/lole1.png?alt=media&token=73c80602-d447-4078-997e-0a018c6fec5f" alt="Card image" width="1000" height="150">
                        </div>
                      
                        <h2 class="card-title" style="text-align:center;">Iniciar Sesion</h2>
            <!--///////////// SIGN IN FORM ////////////-->
                        <div class="flex-container">
                            <form [formGroup]="loginForm" style="  left: 14%; ">
                                <label class="label">Email</label>
                                <input type="text" class="form-control" id="email2"  formControlName = "email" name="email">
                                <label class="label">Contrasena</label>
                                <input type="password" class="form-control" id="contrasena2"  formControlName = "contrasena" name="contrasena">
                            
                            </form>
                        
                        </div>

                        <form>
                           
                           
                        
                        <br>
                            <div class="text-center">
                                
                                    <button class="btn btn-success" (click)="IniciarSesion()" >
                                        Iniciar Sesion
                                    </button>
                            </div>
                        </form>
                        
                        <br><br>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <button (click)="authservice.googleLogin()" class="btn btn-block btn-social btn-google">
                                    
                                    <i class="fa fa-google"></i> Connect Google
                                    
                            </button>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <br><br>
                        <div class="container">
                            <h5>No te haz Registrado?</h5>
                      <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Registrate Aqui</button>
            
                            
            
                      <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                         <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Registro</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                    
                          <!-- Modal body -->
                                        <div class="modal-body">
                                            <h6>Please fill in this form to create an account</h6>
                                <!--///////// SIGN UP FORM ////////////-->
                                                <form [formGroup]="usuarioForm">
                                                    <label >Nombre</label>
                                                    <input type="text" class="form-control" id="nombre"   formControlName = "nombre"  name="nombre"> 
                                                    <label>Apellido</label>
                                                    <input type="text" class="form-control" id="apellido"  formControlName = "apellido" name="apellido">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" id="email"  formControlName = "email" name="email">
                                                    <label>Contrasena</label>
                                                    <input type="password" class="form-control" id="contrasena"  formControlName = "contrasena" name="contrasena">
                                                    <br>
                                                    <button (click)="addUser()" type="Submit" class="button-primary" [disabled]="!usuarioForm.valid" style=" position:relative; left: 40%;"> Submit</button>
                                                </form>
                                        </div>
                    
                          <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
              
                <br>
    </div>
   
</div>
