
body { background: navy !important; }


/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(255, 255, 255);
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(255, 255, 255);
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

.nav-pills .pill-4 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

.nav-pills .pill-5 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-2 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-3 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-4 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-5 .nav-link {
    background-color: rgba(217,83,79);
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
