
body { background: navy !important; }


/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(255, 255, 255);
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(255, 255, 255);
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

.nav-pills .pill-4 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

.nav-pills .pill-5 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
}

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-2 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-3 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-4 .nav-link {
    background-color: rgba(217,83,79);
}

.nav-pills .pill-5 .nav-link {
    background-color: rgba(217,83,79);
}
