<br>
<h1>Bienvenido a uMakeIT! nombre </h1>
<h3>Aqui podras hacer tus pedidos de comida y disfrutar en casa</h3>
<hr>

<carousel>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/tequenos.png?alt=media&token=06bd0c5b-bc92-4cfd-9305-0c455200e7df" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/pizza.png?alt=media&token=c45edf24-bbc3-4399-b410-c10bedcd865f" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/hamburguesa.png?alt=media&token=b6219af5-2794-4dae-ae76-56ba5d600d1f" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<!-- <div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/hamburguesa.png?alt=media&token=b6219af5-2794-4dae-ae76-56ba5d600d1f" alt="Hamburguesa" width="800" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/pizza.png?alt=media&token=c45edf24-bbc3-4399-b410-c10bedcd865f" alt="Pizza" width="800" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/tequenos.png?alt=media&token=06bd0c5b-bc92-4cfd-9305-0c455200e7df" alt="Tequenos" width="800" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-44464.appspot.com/o/papas.png?alt=media&token=d98bc526-c09d-445b-8345-a87725f9d896" alt="Papas" width="800" height="450">      
    </div>
  </div>
  

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br> -->
