<br>
<h1>Bienvenido a uMakeIT! nombre </h1>
<h3>Aqui podras hacer tus pedidos de comida y disfrutar en casa</h3>
<hr>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/pizza.png" alt="Los Angeles" width="800" height="450">
    </div>
    <div class="carousel-item">
      <img src="assets/tequenos.png" alt="Chicago" width="800" height="450">
    </div>
    <div class="carousel-item">
      <img src="assets/papas.png" alt="New York" width="800" height="450">
    </div>
    <div class="carousel-item">
        <img src="assets/hamburguesa.png" alt=" York" width="800" height="450">
      </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>
