<div class="container mt-3">
    <h2>Tabla de Productos</h2>
    <p>Typee el producto que quiere buscar</p>  

    <input class="form-control shadow" id="myInput" type="text" placeholder="Search.." [(ngModel)]="searchterm" (keydown)="search($event)">
    <br>
    <div>
        <table class="table table-bordered shadow table-hover">
          <thead>
              <tr>
                  <th>
                    Imagen
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Precio
                  </th>
                  <th>
                    Disponibilidad
                  </th>
                </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comida of comidas" class="text-center ">
            
            <td *ngIf="comida.disponibilidad==true">
              <img class="card-img-top " src="{{comida.photoUrl}}" alt="Card image" style="width: 100px;height: 100px">
            </td>
            <td *ngIf="comida.disponibilidad==true"> 
              {{comida.nombre}}
            </td>
            <td *ngIf="comida.disponibilidad==true">
              {{comida.precio}} $
            </td>
            <td *ngIf="comida.disponibilidad==true">
                Si
            </td>

          </tr>
        </tbody>
        </table>
      <div *ngIf="comidas?.length < 1">
        <h3>No se encontro ninguna comida</h3>
      </div>
    </div>
  
</div>


