<div class="container mt-3">
    <h2>Tabla de Productos</h2>
    <p>Typee el producto que quiere buscar</p>  

    <!-- <input type="text" [(ngModel)]="searchterm" (keydown)="search($event)">
    <ul *ngFor="let comida of comidas">
      <li>{{comida.nombre}}</li>
      <li>{{comida.precio}}</li>
    </ul>
    <div *ngIf="comidas?.length < 1">
      <p>No se encontro ninguna comida</p>
    </div> -->


    <input class="form-control shadow" id="myInput" type="text" placeholder="Search.." [(ngModel)]="searchterm" (keydown)="search($event)">
    <br>
    <div>
        <table class="table table-bordered shadow table-hover">
          <thead>
              <tr>
                  <th>
                    Imagen
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Precio
                  </th>
                  <th>
                    Disponibilidad
                  </th>
                </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comida of comidas" class="text-center ">
            <td>
              <img class="card-img-top " src="{{comida.photoUrl}}" alt="Card image" style="width: 100px;height: 100px">
            </td>
            <td>
              {{comida.nombre}}
            </td>
            <td>
              {{comida.precio}} $
            </td>
            <td *ngIf="comida.disponibilidad; else falso">
                Si
            </td>

          </tr>
        </tbody>
        </table>
      <div *ngIf="comidas?.length < 1">
        <h3>No se encontro ninguna comida</h3>
      </div>
    </div>
  
</div>

<ng-template #falso>
  No
</ng-template>
