<div class="container mt-3">
    <h2>Tabla de Productos</h2>
    <p>Typee el producto que quiere buscar</p>  
    <input class="form-control shadow" id="myInput" type="text" placeholder="Search..">
    <br>
    <div>
        <table class="table table-bordered shadow">
          <thead>
              <tr>
                  <th>
                    Imagen 
                  </th>
                  <th>
                    Nombre
                  </th>
                  <th>
                    Precio
                  </th>
                  <th>
                    Disponibilidad
                  </th>
                </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comida of arreglo" class="text-center ">
            <td>
              <img class="card-img-top " src="assets/{{comida.imagen}}.png" alt="Card image" style="width: 100px;height: 100px">
            </td>
            <td>
              {{comida.nombre}}
            </td>
            <td>
              {{comida.precio}}
            </td>
            <td *ngIf="comida.disponibilidad; else falso">
                Si
            </td>

          </tr>
        </tbody>
        </table>
      </div>
  
</div>

<ng-template #falso>
  No
</ng-template>
