<div class="row" >
    
    <div class="col-sm-6" *ngFor="let comida of arreglo">
      
        <div class="card shadow" style="width:90%; height: 90%">
            <div class="card-body">
                <img class="card-img-top" src={{comida.photoUrl}} alt="Card image" >
                <hr>
                <h4 class="card-title">{{ comida.nombre }}</h4>
                <p class="card-text">{{ comida.precio }} $</p>
                <button class="btn btn-primary (click)=Prueba()" >Añadir a carrito</button>
                <br><br>
                <div class="input-group mb-3">
                    <div class="col-sm-2"><a class="btn btn-primary btn-circle btn" data-toggle="collapse" href="#{{comida.nombre}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="col-sm-4"> <h5>      Extra</h5>
                    </div>
                </div>
            </div>
            <div class="collapse" id="{{comida.nombre}}">
                <div class="card-text">
                    
                    <form>
                            <div class="custom-control custom-checkbox" *ngFor="let ing of comida.ingredientes">
                              <input type="checkbox" class="custom-control-input" id="customCheck-{{ing}}" name="example1" >
                              <label class="custom-control-label" for="customCheck-{{ing}}" style="position: relative;left:15%;">{{ing}}</label>
                              <br>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
</div>

