<div class="container mt-3" >
  <h2>Carrito de Compras</h2>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th >Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="Table">
      <tr class="text-center">
        <td><img class="card-img-top mx-auto " src="assets/hamburguesa.png" alt="Card image" style="width: 100px;height: 100px"></td>
        <td>Hamburguesa</td>
        <td>5$</td>
        <td>x1</td>
        <td class="text-center">
            
        </td>
      </tr>
      <tr class="text-center">
          <td><img class="card-img-top" src="assets/papas.jpg" alt="Card image" style="width: 100px;height: 100px;"></td>
          <td>Papas</td>
          <td>2$</td>
          <td>x2</td>
          <td class="text-center">
              
         </td>
        </tr>
    </tbody>
  </table>
  
</div>