<div class="container mt-3">
    <h2>Carrito  Compras</h2>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
              <th >Imagen</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
            </tr>
        </thead>
        <tbody id="Table">
            <tr *ngFor="let comida of arreglo" class="text-center">
                <td>
                  <img class="card-img-top" src="assets/{{comida.imagen}}.png" alt="Card image" style="width: 100px;height: 100px">
                </td>
                <td>
                  {{comida.nombre}}
                </td>
                <td>
                  {{comida.precio}}
                </td>
                <td>
                    {{comida.cantidad}}
                </td>
              </tr>
          </tbody>
    </table>
</div>
