/* .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: red;
}
.btn-primary {
    background: #dd198c;
    color: #ffffff;
} */