
<div class="container">

	
	<div class="col-sm-10">
<h4>Cambio de clave </h4>

<div class="w3-container" >
  <form [formGroup]="usuarioForm"> 
    <label >Ingrese su contraseña</label>
    <input type="password" class="form-control" id="password"   formControlName = "password"  name="password"> 
    <label>Ingrese su nueva contraseña</label>
    <input type="password" class="form-control" id="password2"  formControlName = "password2" name="password2">
    <label>Repita su nueva contraseña</label>
    <input type="password" class="form-control" id="password3"  formControlName = "password3" name="password3">
    
    <br>
  </form>
  <button [disabled]="usuarioForm.value.password2!=usuarioForm.value.password3 || !usuarioForm.valid" class="btn btn-danger" style="position:relative; left: 40%; " data-toggle="modal" data-target="#Modal" (click)="CambiarContrasena()">Guardar Cambios</button>


</div>    




<!-- The Modal -->
<div class="modal fade" id="Modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cambio de contraseña</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        La contraseña se ha cambiado sastifactoriamente
      </div>
         <!-- Modal footer -->
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetform()">Close</button>
        </div>
      </div>
  
  </div>

  </div>
  
    


</div>


