
<div class="container">

	
	<div class="col-sm-10">
<h4>Cambio de clave </h4>

		<form>
	<div class="form-group">
		<label>Nueva Clave</label>                                        
        <input type="text" class="form-control" placeholder="" required>
        <br>
        <label>Repetir Clave</label>
        <input type="text" class="form-control" placeholder="" required>
    </div>
                                   
    <div class="text-center">
        <a routerLink= "/menu" routerLinkActive="active" >
            <button class="btn btn-success">Cambiar Clave</button>
        </a>
    </div>
</form>                                   
	</div>
</div>
